body{
    margin: 0;
}
#app{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
}
#app .cell{
    width: 20%;
    height: 20%;
}
.simulate{
    position: absolute;
    top: 0;
}